.image {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  margin-top: 40px;
  margin-left: 50px;
}

.image img:hover {
  border: solid 2px black;
  border-radius: 2px;
}

.image img {
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 10px;
  margin-left: 30%;
  cursor: pointer;
}

.button{
  width: 80px;
  height: 40px;
  margin: 10px auto 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgb(43, 43, 219);  
  cursor: pointer;
  border-radius: 2px;
}

.button:hover{
   background-color: #242424;
}
.button:active{
   background-color: #121212;
}

.button > span{
  color: #eeeeee;
  text-align: center;
}

#dog-button {
  background-color: white;
}

#mother-button {
  background-color: white;
}

#soldier-button {
  background-color: white;
}

#teacher-button {
  background-color: white;
}