.image {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  row-gap: 4px;
  margin: auto;
  margin-top: 2vh;
}

.image img:hover {
  border: solid 2px black;
  border-radius: 2px;
}

.trainer-container {
  text-align: center;
}

.trainer-btn {
  width: 75%;
  margin: auto;
}

.trainer-btn img {
  width: 95%;
  max-width: 200px;
  text-align: center;
  margin-left: auto;
  cursor: pointer;
}

.button{
  width: 30%;
  height: 8vh;
  margin: 10px auto 0px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgb(43, 43, 219);  
  cursor: pointer;
  border-radius: 2px;
}

.button:hover{
   background-color: #242424;
}

#button-confirm{
  color: #eeeeee;
  text-align: center;
  font-size: 20pt;
}

.trainer-btn  {
  background-color: white;
}
