#survey-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}
#survey-scenario{
    margin-top: 8vh;
}
#survey-feedback{
    margin-top: 5vh;
}
#survey-buttons{
    margin: auto;
    margin-top: 12vh;
    width: 60%;
    white-space: pre-wrap;
}
#survey-nav{
    margin-top: 12vh;
}
#fwd-button{
    float: right;
}
#survey-progress{
    margin: auto;
    margin-top: 16vh;
    width: 50%;
}
#grid{
    height: 5vh;
}
#top{
    height: 5vh;
}